{% extends "base.html" %}


{% block MAIN_CONTENT %}
    <h1>Author #{{ object.id }} details:</h1>
<ul>
    <li><b>Author</b>: {{ object.author }}</li>
    <li><b>Genre</b>: <a href="{% url 'main_references:genre-detail' object.genre.id %}">{{ object.genre.name }}</a></li>
    <li><b>Description</b>: {{ object.description }}</li>
    <li><b>Update</b>: <a href="{% url 'main_references:author-update' object.id %}">start updating</a></li>
    <li><b>Delete</b>: <a href="{% url 'main_references:author-delete' object.id %}">delete</a></li>
</ul>
{% endblock MAIN_CONTENT %}