<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <table border="1">
        <thead>
            <td>ID</td>
            <td>name</td>
            <td>actions</td>
        </thead>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td><a href="/genre-detail-cbv/{{ obj.id }}">view</a></td>
            <tr>
        {% endfor %}
    </tr>
    </table>
</body>
</html>