{% extends "base.html" %}


{% block MAIN_CONTENT %}
<body>
     <table class="table table-striped">
        <thead>
            <td>ID</td>
            <td>name</td>
            <td>actions</td>
        </thead>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td><a href="/genre-detail-cbv/{{ obj.id }}">view</a></td>
            <tr>
        {% endfor %}
    </tr>
    </table>
</body>
{% endblock MAIN_CONTENT %}