{% extends "base.html" %}


{% block MAIN_CONTENT %}
    <table class="table table-striped">
        <thead>
            <td><b>ID</b></td>
            <td><b>name book</b></td>
            <td><b>author</b></td>
            <td><b>genre</b></td>
            <td><b>book cover</b></td>
            <td><b>price</b></td>
            <td><b>order</b></td>

        </thead>
        {% for obj in object_list %}
            <tr>
                <td><b>{{ obj.id }}</b></td>
                <td><b>{{ obj.name_book }}</b></td>
                <td>{{ obj.authors }}</td>
                <td>{{ obj.genres }}</td>
                <td><img src="{{ obj.image_cover.cover.url }}" class="card-img-top" alt="1" style="width:125px;height:125px;" ></td>
                <td>{{ obj.price }}</td>
                <td><a href="{% url 'goods:book-detail' obj.id %}">view and buy</a></td>

            <tr>
        {% endfor %}
        </tr>
    </table>

{% endblock MAIN_CONTENT %}